@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
/* selector universal */
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;


}

.resaltar-concepto{
    background-color: yellow;
    color:red;
}

.titulos-selectores{
    color:green;
}

.menu-navegacion  li a {
    color: #0055ff;
    text-decoration: none;

}

.menu-navegacion ol{
    color: #0055ff;
}
/* selector de anidamiento */
.caja, .caja-2 , .caja-3 , .caja-4{
    width: 200px;
    height: 300px;
    background-color:yellow;
    border:5px solid black;
    margin-bottom: 20px;
    text-align: center;
}
/* selector de etiqueta */
h4{
    background-color: red;
    font-size: 1rem;

}
/* selector de id */
#parrafo-especial{
    background-color: blue;
    color:beige;
}

/* Selector de Descendencia */
.caja p {
    color: red;
}
/* Selector hijo directo */
.caja-2 > p {
    color: red;
}

/* Selector Hermano adjacente */
.caja-3  h2 +p{
   background-color: blue;
   color:white;
}

/* Selector hermanos siguientes adjacentes */

.caja-4 h2 ~ p {
    background-color: blue;
    color:white;
}

/* box model */

.caja-box-model{
    width: 200px;
    height:200px;
    background-color:rgb(241, 241, 15);
    padding: 50px;
    border:5px solid navy;
}



.caja-box-content{
    width: 200px;
    height:200px;
    background-color:blue;
    color:white;

}

.caja-box-padding{
    width: 400px;
    height:200px;
    background-color:green;
    padding-top: 20px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right:2px;
    padding: 20px 2px 10px 5px;
    border:5px solid navy;
   
}

.caja-border-box{
    width: 200px;
    height:200px;
    background-color:bisque;
    border:5px dotted navy;
    margin: 30px 40px;
}

.caja-margin-negativo{
    width: 200px;
    height:200px;
    background-color:bisque;
    border:5px dotted navy;
    margin-left:-2rem;
}

.caja-colapsado{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    color:white;

}

.caja-colapsado-centrado{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    color:white;
    margin: 0 auto;
}

.vertical-1{
    background-color:peru;
    margin-bottom: 2rem;
    
   
}


.vertical-2{
    background-color:blue;
    margin-top: 4rem;
}